html {
    font-family: 'Lora', serif;
    font-size: 16px;
    height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

#first-section {
  width: 100%;
  padding: 8em 0em 15em;
  background: #777777;
  background: -moz-linear-gradient(top, #777777 0%, #1A1A1B 100%);
  background: -webkit-linear-gradient(top, #777777 0%, #1A1A1B 100%);
  background: linear-gradient(to bottom, #777777 0%, #1A1A1B 100%);
}

#second-section {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 5em 0em 10em;
  background:
  linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px;
  text-align: center;
}


/** red border for debugging*/
/*
*{
  border: 2px #ff0000;
  border-style: solid none;
}
*/

/* logos*/
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 64px;
  height: 64px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button:hover {
    filter: brightness(80%); /* Reduce the brightness when hovered */
}


/*CSS for the image block with text*/
blockquote {
  margin: 3em auto;
  /*margin-top: 8em;*/
  padding: 3em;
  background: linear-gradient(white, white) padding-box, url(https://wallpaperaccess.com/full/2082145.jpg) border-box  0 / cover;
  border: 2em solid transparent;
  box-shadow: 5px 3px 30px black;
  font-size: 1.4em;
  font-family: 'Lora', serif;
  line-height: 1.5;
  width: 45%;
}

#about-me {
  font-style: normal;
  font-size: 1.2em;
  font-weight: bold;
}



@import url(https://fonts.googleapis.com/css?family=Lora);




/* Project display */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Ensure the starting points of the cards align */
  gap: 1em;
  padding: 2em;
}


.project-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 300px;
  background: #fff;

  /* New styles for alignment using flex */
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;     
}

.project-card img {
  width: 100%;
  height: auto;  /* Set the height to auto for responsive images */
  object-fit: cover; /* Ensure the image covers the space without distortion */
  display: block;
  margin: 0 auto;
}

.project-card h3 {
    margin-top: 1em;  /* Consistent margin from the top */
    padding: 0 1em;
    font-size: 1.2em;
    text-align: center;
}

.project-card p {
  padding: 0em 1em;
  font-size: 1em;
  text-align: center;  /* Center the text */
}

#second-section h2 {
  font-weight: bold;
  font-size: 4vw; /* Use viewport width unit for responsive font size */
  color: orange;
  background-color: white;
  display: inline-block;
  padding: 0.4em;
  border-radius: 8px;
  border: 0.9vw solid lightskyblue; /* Use viewport width unit for responsive border size */
}

/* Media queries for different display sizes */
@media (max-width: 768px) {
  /* Adjust the width and padding of the sections for smaller screens */
  #first-section {
    padding: 4em 0em 8em;
  }
  
  #second-section {
    padding: 3em 0em 6em;
  }
  
  /* Adjust the width of the blockquote for smaller screens */
  blockquote {
    width: 80%;
  }
  
  /* Adjust the font size of the project card headings for smaller screens */
  .project-card h3 {
    font-size: 1em;
  }
  
  /* Adjust the font size of the project card paragraphs for smaller screens */
  .project-card p {
    font-size: 0.8em;
  }
}
